button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: inherit;
}

.App {
  height: 100vh;
  width: 100vw;

  font-family: Roboto, sans-serif;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #151515;
  color: #fff;
}

.container {
  height: 80%;
  width: 40%;
}

.addTaskWrapper {
  margin: 30px 0;
  padding: 40px 0;
  font-size: 32px;
  border-radius: 30px;
  box-shadow: 3px 3px 10px #151515;
  background-color: inherit;
  border: 1px solid #00ffe5;
}

.addTaskInput {
  padding: 5px;
  border: 0;
  outline: 0;
  /* box-shadow: 2px 2px 5px #151515; */

  background-color: #151515;

  color: #fff;

  -webkit-transition: all ease 200ms;
  -o-transition: all ease 200ms;
  -moz-transition: all ease 200ms;
  transition: all ease 200ms;
}

.addTaskInput:focus {
  outline: 0;
  border-bottom: 1px solid #00ffe5;
  /* box-shadow: 1px 0 2px #00ffe5; */
}

.addTaskSubmit {
  width: 28px;
  height: 28px;
  background-color: #00ffe5;
  border: 1px solid #00ffe5;

  cursor: pointer;
}
